*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.inTable {
	max-width: 50px;
	text-align: center;
    border: none;
}
td {
   border-bottom: 1px solid black;
   border-right: 1px solid black;
   background-color:white;
   padding: 5px;
   text-align: center;
}
.note {
	font-weight: bolder;
	color: green;
}
/*.wrapper{
    margin: 0;
    position: absolute;
    top: 6%;
    left: 70%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}*/
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
body {
    background-image: linear-gradient(#00000085,#00000085),url(ware.jpg);
    background-size:cover;
    background-attachment: fixed;
    font-family: "Gerogia",serif;
	font-size: 20px;
}
#main{
    margin-left: 300px;
}
#cls{
    margin-left: 100px;
}
h1 {
	text-align: left;
    font-style: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #0000FF;
}
input[type="button"] {
	background-color: #2a2734;
    border: 2px solid #00b4ba;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type="button"]:hover, input[type="button"]:focus {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
#anotherQue {
	background-color: #f44336;
    border: 2px solid #f44336;
}
#anotherQue:hover, #anotherQue:focus, #printAns:hover, #printAns:focus {
	background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
#result {
	color: #56B6C4;  
    font-family: "Gerogia",serif;
    font-size: 25px;
    font-weight: bolder;
}